* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas:
        'header header header header'
        'search search search search '
        'todo todo finish finish';
    justify-content: center;
    grid-template-rows: 300px 150px auto; /* 각 행의 높이 */
    height: 100vh;
    background-color: #eceff1;
}

.header {
    display: flex;
    grid-area: header;
    width: 100%;
    align-items: center; /* 세로 가운데 정렬 */
    justify-content: center; /* 가로 가운데 정렬 */
    border-bottom: solid 1px #5f5f5f;
}

.search {
    grid-area: search;
    display: flex;
    justify-content: center;
    
}

.todo {
    grid-area: todo;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finish {
    display: flex;
    flex-direction: column;
    grid-area: finish;
    align-items: center;
}

h1 {
  font-size: clamp(20px, 5vw, 100px); /
}


body {
    margin: 0px;
    padding: 0px;
}

.search input {
    margin-top: 10px;
    width:  97%;
    height: 70px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2{
  font-size: clamp(3px, 5vw, 30px); /
}

.list{
  display: flex;
  flex-direction: column;
  width: 80%;

}

.item {
    display: flex;
    justify-content: space-between; /* 아이템을 양쪽 끝으로 정렬 */
    align-items: center; /* 세로 정렬 */
    padding: 10px; /* 여백 추가 (선택 사항) */
    width: 100%;
    border-bottom: 1px solid #ccc; /* 테두리 추가 (선택 사항) */
    margin: 20px 0; /* 아이템 간의 간격 */
}
