body {
    background-color: #e7f1ff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

hr {
    width: 620px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
    background: #ebf5ff;
    border: 1px solid black;
}

.list-container {
    display: flex;
    justify-content: space-between;
}

.todo-container, .completed-container {
    width: 45%;
}

h4 {
    display: inline-block;
    text-align: center;
    border-bottom: 4px solid #cce1ff;
}

ul {
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 4px solid #cce1ff;
    font-weight: bold;
}

button {
    background: #cce1ff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button.delete {
    background: #cce1ff;
}