:root{
  /* 1주차 사용 컬러 */
  --w1-maincolor: #EEF2F8;
  --w1-bordercolor: #DAE3EF;
  --w1-focuscolor: #015FCC;
  --w1-buttoncolor: #D5DFF0;
  --w1-placeholdercolor: #E8EDF4;
  --w1-inputcolor: #FEFEFE;

  /* 2주차 사용 컬러 */
  --w2-inputBackground: #ECECEC;
  --w2-inputPlaceHolder: #8E8E8E;
  --w2-inputFocusBorder: #000000;
  --w2-delete : #FF0000;

  /* 3주차 사용 컬러 */
  --w3-background: #000000;
  --w3-barbackground: #1F2225;
  --w3-fontColor: #F5F7F9;
  --w3-buttonColor: #FA2F66;
  --w3-buttonHoverColor: #B32048;
  --w3-logoColor: #FA2F66;
  --w3-categorytitle: rgb(0,0,0,0.5);

  /* 4주차 사용 컬러 */

  --w4-background: #000000;
  --w4-textColor : #FFFFFF;
  --w4-spinner: #FA2F66;
  --w4-castRole: #777777;

  /* 5주차 사용 컬러 */
  --w5-titlecolor : #FFFFFF;
  --w5-buttonColor: #FA2F66;
  --w5-disabledbuttonColor: #484848;
  --w5-errorColor: #ff0000;
  --w5-background: #000000;

  /* 6주차 사용 컬러 */
  --w6-buttonColor: #FA2F66;
  --w6-textcolor : #FFFFFF;

  /* 7주차 사용 컬러 */
  --w7-buttonColor: #FA2F66;
  --w7-disabledbuttonColor: #484848;
  --w7-textcolor : #FFFFFF;

  /* 8주차 사용 컬러 */
  --w8-itemborder : #e5e5e5;
  --w8-input : #ebeaea;
}