:root{
  /* 1주차 사용 컬러 */
  --w1-maincolor: #EEF2F8;
  --w1-bordercolor: #DAE3EF;
  --w1-focuscolor: #015FCC;
  --w1-buttoncolor: #D5DFF0;
  --w1-placeholdercolor: #E8EDF4;
  --w1-inputcolor: #FEFEFE;

  /* 2주차 사용 컬러 */
  --w2-inputBackground: #ECECEC;
  --w2-inputPlaceHolder: #8E8E8E;
  --w2-inputFocusBorder: #000000;
  --w2-delete : #FF0000;

  /* 3주차 사용 컬러 */
  --w3-background: #000000;
  --w3-barbackground: #1F2225;
  --w3-fontColor: #F5F7F9;
  --w3-buttonColor: #FA2F66;
  --w3-buttonHoverColor: #B32048;
  --w3-logoColor: #FA2F66;
}