:root{
  /* 1주차 사용 컬러 */
  --w1-maincolor: #EEF2F8;
  --w1-bordercolor: #DAE3EF;
  --w1-focuscolor: #015FCC;
  --w1-buttoncolor: #D5DFF0;
  --w1-placeholdercolor: #E8EDF4;
  --w1-inputcolor: #FEFEFE;

  /* 2주차 사용 컬러 */
  --w2-inputBackground: #ECECEC;
  --w2-inputPlaceHolder: #8E8E8E;
  --w2-inputFocusBorder: #000000;
  --w2-delete : #FF0000;
}