@import url("../../../0-공통/color.css");

/* Common */
body{
  display: flex;
  justify-content: center;
  padding-top: 50px;
 
}

button{
  font-size: 16px;
  font-weight: 550;
  border: none;
  background-color: white;
}
